@{
  Layout="_Layout";
}

@using Bakery.Models;

<h1>Pierre's Sweet and Savory Treats!</h1>

<h3>Here you can catalog all your wild pastry creations</h3>
@if (Model["flavors"].Length == 0)
  {
    <p>No Flavors have been added yet!</p>
  }
  <ul>
    @foreach(Flavor flav in Model["flavors"])
    {
      <li>@Html.ActionLink(@flav.Type, "Details", "Flavors", new { id = @flav.FlavorId })</li>
    }
  </ul>

@if (User.Identity.IsAuthenticated)
{
  <h4>Ready To Catalog Your Pastry Experience?</h4>
  <h5>Treats for @User.Identity.Name</h5>
  @if (Model["treats"].Length == 0)
  {
    <p>No Treats have been baked yet!</p>
  }
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = treat.TreatId })</li>
    }
  </ul>
  
  <div class="bottom-nav">
    <p>@Html.ActionLink("Treats", "Index", "Treats") | @Html.ActionLink("Flavors", "Index", "Flavors") | @Html.ActionLink("Create or Manage Account", "Index", "Account")</p>
  </div>
}
else
{
  <h4>Please Log In Or Register An Account To Continue</h4>
}