@{
  Layout = "_Layout";
}

@using Bakery.ViewModels

@model LoginViewModel

<h2>Log In</h2>
<hr />

@if(!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Fix the following errors and try again:")
}

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)
  <br/>
  <input type="submit" value="LOG IN" class="btn btn-danger"/>
}