@{
  Layout="_Layout";
}

<h2>Add Flavor</h2>

<h4>Add a flavor to this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  
  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Save" class="btn btn-danger"/>
}

<hr/>

<p>@Html.ActionLink("Treats List", "Index") | @Html.ActionLink("Flavors List", "Index", "Flavors")</p>