@{
  Layout="_Layout";
}

@model Bakery.Models.Flavor

<h2>Add A Treat</h2>

<h4>Add a Treat to this flavor: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save"/>
}

<hr/>

<div class="bottom-nav">
  <p>@Html.ActionLink("Flavors List", "Index") | @Html.ActionLink("Treats List", "Index", "Treats")</p>
</div>