@{
  Layout="_Layout";
}

@model Bakery.Models.Flavor

<h2>Add A Flavor</h2>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Type, "", new { @style = "font-weight: 600; color: red;"})</p>
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Add new flavor" class="btn btn-danger"/>
}

<hr/>
<p>@Html.ActionLink("Flavors List", "Index") | @Html.ActionLink("List of Treats", "Index", "Treats")</p>